body{
    margin: 0;
    padding: 0;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

$width: 1320px;

.main-layout-container{
    width: 100%;
    height: auto;
}



.bl-width{
    width: $width;
    margin: auto;
}
.w-a{
    width: auto;
}

.w-100{
    width: 100%;
}
.w-80{
    width: 80%;
}
.w-70{
    width: 70%;
}
.w-50{
    width: 50%;
}
.w-20{
    width: 20%;
}

.w-2c{
    width: calc((100% - 24px)/2);
}

.w-3c{
    width: calc((100% - 24px)/3);
}
.w-4c{
    width: calc((100% - 24px)/4);
}
.w-5c{
    width: calc((100% - 24px)/5);
}
.w-10c{
    width: calc((100% - 24px)/10);
}

.mt-a{
    margin: auto;
}
.h-a{
    height: auto;
}

.h-100{
    height: 100%;
}
.h-70{
    height: 70%;
}
.h-50{
    height: 50%;
}
.h-25{
    height: 25%;
}

.d-fl{
    display: flex;
}

.j-cen{
    align-items: center;
    justify-content: center;
}

.sp-a{
    align-items: center;
    justify-content: space-around;
}

.sp-b{
    align-items: center;
    justify-content: space-between;
}
.fl-d-col{
    flex-direction: column;
}
.fl-d-crev{
    flex-direction: column-reverse;
}
.fl-d-rrev{
    flex-direction: row-reverse;
}

.m-0{
    margin: 0;
}
.mt-100{
    margin-top: 100px;
}
.mt-50{
    margin-top: 50px;
}
.mt-20{
    margin-top: 20px;
}

.ls-none{
    list-style: none;
}
.td-none{
    text-decoration: none;
}
.pad-0{
    padding: 0;
}

.fit-cov{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fit-con{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cur-p{
    cursor: pointer;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}




.header-container{
    width: 100%;
    height: 48px;
    background: linear-gradient(180deg, #0C0B0B 0%, rgba(71, 70, 71, 0.78) 76.04%);
}

.links{
    font-size: 1.25rem;
    line-height: 25px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.025em;
}

.prof{
    .color{
        color: #fff;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1439px) {

    $width: 1080px !important;

    .bl-width{
        width: $width;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    $width: 820px !important;

    .bl-width{
        width: $width;
    }

    

}

@media screen and (min-width: 470px) and (max-width: 899px) {
    $width: 450px !important;

    .bl-width{
        width: $width;
    }

    .links{
        font-size: 0.85rem !important;
        letter-spacing: 0.01em !important;
    }
}

@media screen and (max-width: 469px) {
    $width: 280px !important;

    .bl-width{
        width: $width;
    }

    .links{
        font-size: 0.75rem !important;
        letter-spacing: 0.01em !important;
    }
}